battlecode
bc18-scaffold
target
players
battlecode-manager/working_dir
battlecode-manager/__pycache__
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__

bindings/java/src/bc/*.java
bindings/java/src/bc/*.class
bindings/java/src/bc/*.so
bindings/c/include/bc.h
bindings/c/include/bc.i
bindings/python/battlecode/darwin/_bc.abi3.so
bindings/python/battlecode/darwin/_bc.abi3.so
bindings/src/bindings.rs

*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__