target
build
.mypy_cache
*pyc
__pycache__
*.so
*.a
*.lib
*.dylib
*.d
*.swp
*.txt
*.DS_Store
.vscode
*/htmlcov
*.coverage
*.log
sandbox
docker-artifacts
bundle
battlecode
bc18-scaffold
*.bc18
bindings/java/bc_wrap.obj
jamesbot
working_dir
replay*
.cache
*Test.class
*.dSYM
docs
scrimmage.sh
1*
2*
3*
4*
5*
6*
7*
8*
9*
hidden-maps
